/** CSS, if you don't write on SASS
  * Delete code if you write in SASS
  */

nav {
    padding: 0 20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}