/** Delete SASS styles if you write in CSS,
  * but you can save @imports for include fonts and libs
  */

@import "fonts"
@import "libs"
@import "vars"

/* Standard styles SASS */

html, body
  height: 100%
  margin: 0
  padding: 0
  color: $black
  font-family: $default_font

h1, h2, h3, h4, h5, h6
  text-align: center

/*******************/

/* Common classes */

.text-center
  text-align: center

.cls
  clear: both

/******************/


@import "media" // Always last
